* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.caixa {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: #ffffff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
  margin: 50px;
}

.caixa .lado-esquerdo {
  position: relative;
  background: #282a2d;
  padding: 40px;
}

.perfil {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.imagem {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.perfil .imagem img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.perfil h2 {
  color: #ffffff;
  font-size: 1.4rem;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 2rem;
}

.perfil h2 span {
  font-size: 0.8em;
  font-weight: 300;
}

.contato {
  padding-top: 40px;
}

.titulo {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.contato ul {
  position: relative;
}

.contato ul li {
  list-style: none;
  position: relative;
  margin: 10px 0px;
  cursor: pointer;
}

.contato ul li .icone {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #03a9f4;
}

.contato ul li .texto {
  font-size: 12px;
  color: #ffffff;
}

.contato.educacao li {
  margin-bottom: 15px;
}

.contato.educacao h5 {
  color: #03a9f4;
  font-weight: 500;
}

.contato.educacao h4:nth-child(2) {
  color: #ffffff;
  font-weight: 500;
}

.contato.educacao h4 {
  color: #ffffff;
  font-weight: 300;
}

.contato.idioma .nivel {
  position: relative;
  width: 100%;
  height: 6px;
  background: #081921;
  display: block;
  margin-top: 5px;
}

.contato.idioma .nivel div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
}

.caixa .lado-direito {
  position: relative;
  background: #ffffff;
  padding: 40px;
}

.sobre {
  margin-bottom: 50px;
}

.sobre:last-child {
  margin-bottom: 0;
}

.segundo-titulo {
  margin-bottom: 10px;
  color: #0d0e0f;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sobre p {
  color: #242424;
}

.skill .habilidades {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}

.skill .habilidades h4 {
  text-transform: uppercase;
  font-weight: 500;
  color: #4f4f4f;
}

.skill .habilidades .nivel {
  position: relative;
  width: 100%;
  height: 10px;
  background: #c0c0c0;
}

.skill .habilidades .nivel div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
}

.interesse ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.interesse ul li {
  list-style: none;
  color: #333333;
  font-weight: 500;
  margin: 10px 0;
}

.interesse li .fa {
  color: #03a9f4;
  font-size: 18px;
  width: 20px;
  margin: 0 5px 0 0;
}

@media (max-width: 1000px) {
  .caixa {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .interesse ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .sobre .caixa {
    flex-direction: column;
  }
  .interesse ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .skill .habilidades {
    grid-template-columns: repeat(1, 1fr);
  }
  .skill .habilidades .nivel {
    height: 7px;
  }
}
